{% if element['prev'] is not null %}
	<p><a href="{{ path('entity.node.canonical', {'node': element.prev.nid }) }}">{{ element.prev.title }}</a></p>
{% endif %}

{% if element['inner_text'] is not null %}
<p>{{ element['inner_text'] }}</p>
{% endif %}

{% if element['next'] is not null %}
	<p><a href="{{ path('entity.node.canonical', {'node': element.next.nid }) }}">{{ element.next.title }}</a></p>
{% endif %}